<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468809539663-2sgkjgr9ifngntq5lai0cvilb2529p1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468809539663-2sgkjgr9ifngntq5lai0cvilb2529p1j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>468809539663-smf874otc1c0ha152k0emo55qm78b20t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARUWPpQoZwdesm0F70v5Yl_VuCsNKbPTg</string>
	<key>GCM_SENDER_ID</key>
	<string>468809539663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>teamcosmo.minichat</string>
	<key>PROJECT_ID</key>
	<string>mini-chat-app-d5c27</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-chat-app-d5c27.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468809539663:ios:f661b28e2ae0b222758a3a</string>
</dict>
</plist>